page-home {
}

.ion-label1 {
  color: #488aff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.input{
  background: lavender;
}

.logo{
  height: 200px;
  width: 200px;
  font-size: 300px;
  margin-top: 60px;
  margin-bottom: 190px;
  margin-left: 95px;
}
