page-home {
}

.ion-label1 {
  color: #488aff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.input{
  background: lavender;
  position:absolute;
  bottom:90px;
}

.logo{
  height: 80%;
  width: 70%;
  font-size: 300px;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: lavender;
}
