#usr3{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
}

#userIcon3{
  font-size: 30px;
}
#title{
  text-align: center;
  white-space:pre;
  color: #488aff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15%;
}
#userName3{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #488aff;
}

#readyButton{
  position: absolute;
  bottom:0
}

#waitLabel {
  color: #488aff;
  margin-top: 50px;
  margin-left: 32px;
  font-size: 80%;
}

.listItem {
  margin:10px auto;
  border: hidden #488aff;
  outline: #488aff;
}

.item-icons{
  color: #488aff;
  font-size: 100%;
}
