<ion-content style="background: lavender;">
  <ion-slides pager>
    <ion-slide>
      <ion-header>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <ion-navbar>
          <ion-title class="padding-0" text-center>
            Fin des énigmes
          </ion-title>
        </ion-navbar>
      </ion-header>
      <div style="background: lavender;">
        <div id="usr2">
          <ion-icon id="userIcon3" name="person"></ion-icon>
          <br />
          <label id="userName3" >{{userName}}</label>
        </div>
      </div>
      <ion-label text-wrap="unrestricted" id="successLabel">
        Félicitations, vous avez terminé toutes vos énigmes. Swippez pour visualiser la progression de vos équipiers et
        aidez-les à terminer dans le temps imparti si vous le souhaitez.
      </ion-label>
      <ion-img style="width: 80%" margin-top="20px" src="../../assets/imgs/victory.gif"></ion-img>
    </ion-slide>
    <ion-slide style="background: lavender">
      <ion-header>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <ion-navbar>
          <ion-title style="font-size: 20px">
            Progression de l'équipe
          </ion-title>
        </ion-navbar>
      </ion-header>
      <ion-list margin-left="10px" margin-right="10px" *ngFor="let progression of progressions">
        <ion-icon id="userIcon2" name="person"> {{progression.username}}</ion-icon>
        <div class="wrapper">
          <div style="height:35px;">
            <ol class="progress">
              <li *ngFor="let p of array(progression.actual)" class="is-complete" id={{p}}>
              </li>
              <li *ngIf="progression.total != progression.actual"class="is-active" id={{progression.actual}}>
              </li>
              <li *ngFor="let e of array(progression.total - progression.actual - 2)" id={{e+progression.actual+1}}>
              </li>
              <li *ngIf="progression.total - progression.actual > 1"class="progress__last" id={{progression.total-1}}>
              </li>
            </ol>
          </div>
        </div>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
