page-about {

}

.listButton{
  background: #488aff;
  color: #ffffff;
  border-radius: 3px;
  font-weight: bold;
}

.item-md.item-block .item-inner {
  border-bottom: none;
}

#b2{
  text-align: right;
}
div #teamName{
  text-align: justify;
  background: lavender;
  margin-left: 15px;
}

#label2 {
  color: #488aff;
  margin-top: 20px;
  margin-left: 32px;
  text-align: justify;
  font-size: 20px;
  font-weight: bold;
}

#label1{
  color: #488aff;
  margin-top: 30px;
  margin-left: 32px;
  text-align: justify;
  font-size: 20px;
  font-weight: bold;
}

#input2{
  background: lavender;
}

.ion-card-header{
  color: #488aff;
}
