<ion-header>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <ion-navbar>
    <ion-title>
      Team
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content style="background: lavender;">
  <div id="usr1">
    <ion-icon id="userIcon1" name="person"></ion-icon>
    <br />
    <label id="userName1" >{{userName}}</label>
  </div>
  <ion-label id="label2">
    Créer une équipe
  </ion-label>
  <div id="teamName">
    <ion-item style="background: lavender">
      <ion-input id="input2" [(ngModel)]="qty" type="text" placeholder="Nom de l'équipe à créer" ></ion-input>
    </ion-item>
    <button ion-button (click)="createTeam()" margin-top="100px" margin-left="150px" style="border-radius: 3px" icon-right>
      Créer mon équipe
      <ion-icon name="people"></ion-icon>
    </button>
  </div>
  <ion-label id="label1">
    Rejoindre une équipe
    <button style="background: lavender;" (click)="loadTeams()">
      <ion-icon style="color: #488aff;font-size: 300%" name="refresh-circle"></ion-icon>
    </button>
  </ion-label>
  <div style="overflow-y:scroll;width:100%; height:300px;">
    <ion-list *ngFor="let nb of numbers;">
      <ion-card-header>{{nb}} joueur(s)</ion-card-header>
      <ion-list margin-left="10px" margin-right="10px" *ngFor="let v of vars;">
        <button *ngIf="(v.nombreJoueurs == nb)" ion-item (click)="joinTeam(v);" class="listButton">
          <ion-icon name="people" item-start></ion-icon>
          <ion-label style="text-align: left;font-size: 90%">{{v.teamname}}</ion-label>
          <ion-label style="text-align: right;font-size: 90%">{{v.escapegame}}</ion-label>
        </button>
      </ion-list>
    </ion-list>
  </div>
</ion-content>
