page-about {

}

.listButton{
  background: #488aff;
}

div #teamName{
  background: lavender;
  margin-left: 15px;
}

#label2 {
  color: #488aff;
  margin-top: 20px;
  margin-left: 32px;
  font-size: 20px;
  font-weight: bold;
}

#label1{
  color: #488aff;
  margin-top: 30px;
  margin-left: 32px;
  font-size: 20px;
  font-weight: bold;
}
