
page-end {
  text-align: center;
}

#escapeNameLabel, #results {
  color: #488aff;
  margin-top: 20px;
  margin-left: 32px;
  font-size: 20px;
  font-weight: bold;
}

#score {
  color: #488aff;
  margin-top: 20px;
  margin-left: 32px;


}

#failedEnigmas {
  color: #f53d3d;
  margin-top: 20px;
  margin-left: 32px;
}

#wonEnigmas {
  color: #32db64;
  margin-top: 20px;
  margin-left: 32px;
}

#end {
  position: absolute;
  bottom: 0;
  width: 100%;
}


