page-enigme{

}
#title{
  text-align: center;
  white-space:pre;
  color: #488aff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15%;
}

#title2{
  margin-top: 80px;
  text-align: center;
  color: indianred;
  font-size: 18px;
  font-weight: bold;
  height: 10%;
}

.input1{
  position:absolute;
  bottom:60px;
  margin-bottom: 20px;
  background: lavender;
}

.enigmeButtons{
  width: 45%;
  height: 100%;
  font-size: 80%;
}
#enigmeButtonsDiv1{
  height: 9%;
  width: 100%;
  position:absolute;
  bottom: 0;
  margin-bottom: 10px;
}

#timeDiv1{
  margin-bottom: 5px;
  background-color: #488aff;
  position: absolute;
  top: 2%;
  width: 120px;
  height: 40px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.block {
  display: flex;
  flex-direction: row;
}

.digit {
  color: #1abc9c;
  font-size: 100%;
  font-weight: bold;

  margin: 10px;
  text-align: center;
}
