page-enigme{

}
#title{
  text-align: center;
  white-space:pre;
  color: #488aff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10%;
}

#time{
  color: red;
  text-align: justify;
  text-wrap: normal;
  font-size: 13px;
  margin-left: 20px;
}

.input1{
  position:absolute;
  bottom:60px;
  background: lavender;
}

#help{

}
.enigmeButtons{
  width: 45%;
  height: 100%;
  font-size: 80%;
}
#enigmeButtonsDiv{
  height: 9%;
  width: 100%;
  position:absolute;
  bottom:0;
}
