page-enigme{

}
#title{
  text-align: center;
  white-space:pre;
  color: #488aff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15%;
}

.input1{
  position:absolute;
  bottom:60px;
  background: lavender;
}

#help{

}
.enigmeButtons{
  width: 45%;
  height: 100%;
  font-size: 80%;
}
#enigmeButtonsDiv{
  height: 9%;
  width: 100%;
  position:absolute;
  bottom:0;
}


#timeDiv{
  background-color: #34498e;
  width: 30%;
  margin-left: 5%;
}
.block {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.digit {
  color: #1abc9c;
  font-size: 100%;
  font-weight: bold;

  margin: 10px;
  text-align: center;
}
