<ion-content style="background: lavender;">
  <ion-slides pager>
    <ion-slide>
      <ion-header>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <ion-navbar>
          <ion-title class="padding-0" text-center>
            Enigme
          </ion-title>
        </ion-navbar>
      </ion-header>
      <div style="background: lavender;">
        <div id="usr2">
          <ion-icon id="userIcon3" name="person"></ion-icon>
          <br/>
          <label id="userName3">{{userName}}</label>
        </div>
        <div id="timeDiv">
          <ion-icon margin-left="50%" name="alarm" style="color: #000000;margin-top: 10px;"></ion-icon>
          <span margin-left="50%" class="digit" item-right style="vertical-align: 15%;">{{ minutes }}:{{ pad2(secondes) }}</span>
        </div>
        <ion-label id="title1" style="white-space: pre">Escape game en cours:
          {{nomEscape}}
        </ion-label>
        <ion-label style="text-align: justify;color: darkslategrey;font-weight: bold;margin-left: 20px;">
          Nom de l'énigme:
        </ion-label>
        <ion-label style="text-align: justify;color: indigo;margin-left: 20px;">
          {{nomEnigme}}
        </ion-label>
        <ion-label style="text-align: justify;color: darkslategrey;font-weight: bold;margin-left: 20px;">
          Description
        </ion-label>
        <div style=" overflow-y:scroll;width:100%; height:150px;font-size: 15px">
          <ion-label text-wrap="true" style="text-align: justify;margin-left: 20px; margin-right: 20px;color: #488aff">
            {{enigmeInfos}}
          </ion-label>
        </div>
        <ion-item class="input1">
          <ion-input [(ngModel)]="inputAnswer" type="text" placeholder="Votre réponse"></ion-input>
        </ion-item>
        <div id="enigmeButtonsDiv">
          <button class="enigmeButtons" (click)='submitAnswer()' ion-button icon-right>
            valider
            <ion-icon name="key"></ion-icon>
          </button>
          <button text-wrap="unrestricted" class="enigmeButtons" ion-button icon-right (click)="requestHelp()">
            Demander de l'aide au maitre du jeu
            <ion-icon name="help-circle"></ion-icon>
          </button>
        </div>
      </div>
    </ion-slide>
    <ion-slide style="background: lavender">
      <ion-header>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <ion-navbar>
          <ion-title style="font-size: 20px">
            Progression de l'équipe
          </ion-title>
        </ion-navbar>
      </ion-header>
      <ion-list margin-left="10px" margin-right="10px" *ngFor="let progression of progressions">
        <ion-icon id="userIcon2" name="person"> {{progression.username}}</ion-icon>
        <div class="wrapper">
          <div style="height:35px;">
            <ol class="progress">
              <li *ngFor="let p of array(progression.actual)" class="is-complete" id={{p}}>
              </li>
              <li *ngIf="progression.total != progression.actual" class="is-active" id={{progression.actual}}>
              </li>
              <li *ngFor="let e of array(progression.total - progression.actual - 2)" id={{e+progression.actual+1}}>
              </li>
              <li *ngIf="progression.total - progression.actual > 1" class="progress__last" id={{progression.total-1}}>
              </li>
            </ol>
          </div>
        </div>
      </ion-list>
    </ion-slide>
    <ion-slide style="background: lavender">
      <ion-header>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <ion-navbar>
          <ion-title style="font-size: 20px">
            Liste des indices
          </ion-title>
        </ion-navbar>
      </ion-header>

      <ion-label>Liste des indices récupérés :</ion-label>
      <ion-list margin-left="10px" margin-right="10px" *ngFor="let indice of indices">
        <ion-label text-wrap="true" style="text-align: justify;margin-left: 20px; margin-right: 20px;color: #488aff">
          {{indice}}
        </ion-label>
      </ion-list>

    </ion-slide>
  </ion-slides>
</ion-content>
