page-escape {

}


#escapeLabel {
  color: #488aff;
  margin-top: 50px;
  margin-left: 32px;
  font-size: 20px;
  font-weight: bold;
}

.listButton {
  border: hidden #488aff;
  outline: #488aff;

}

#labelInfos{
  font-size: 13px;
}
