page-escape {

}


#escapeLabel {
  color: #488aff;
  margin-top: 50px;
  margin-left: 32px;
  font-size: 20px;
  font-weight: bold;
}

.listButton {
  margin:10px auto;
  border: hidden #488aff;
  outline: #488aff;

}
#usr1{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
}
#userIcon1{
  font-size: 30px;
}

#userName1{
  text-align: center;
  padding-left: 10px;
  font-size: 15px;
  color: #488aff;
}
